html.home{
  position: fixed;
  height: 100%;
  width:100vw;
  margin: 0
  padding:0;
  background: #f7f1f1;
}
currentScreen {
    background: var(--navy) !important;
    z-index: 3;
    top: 7vh;
    margin-left: -10px;
    display: block;
    position: fixed;
    padding-right: 16px;
}
span#selectCatDisplay {
    display: block;
}
  listCntnr{
    background-color: rgb(210,95,131);
    height: auto;
    width: auto;
    position: relative;
    display: block;
  }
  .modal-small-home{
    height:50vh;
    width: 90vw;
    position: fixed !important;
    top:15vh;
    left:5vw;
    z-index: 5;
    border: solid black 2px;
    background-color: white;
  }
  modal ok {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height:30px;
    width:30px;
  }
  modal cancel {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height:30px;
    width:auto;
  }
  hrnum {
    position: relative;
    top: -10px;
    left: -31px;
    display: inline-block;
    text-align: right;
    width: 25px;
}
  .btn:hover {
    cursor: pointer;
  }
  html.hourGroupView{
    position: fixed;
  }
  hour {
      display: block;
      border-bottom: dotted var(--highlight1) 1px;
      height: 33px;
      width: 100%;
  }
  week {
      color: var(---highlight1);
      position: relative;
      height: calc(80vh - 117px);
      margin: calc(10vh + 15px) 0 100px 0;
      white-space: nowrap;
      display: block;
      overflow: scroll;
      padding-top: 18px;
      padding-bottom: 32px;
      background: var(--navy);
      background-size: 50%;
      background-repeat: repeat;
  }
    .cntrlCntnr {
    display: inline-block;
  }
  topControls input {
    margin-top: 2vh;
    background: aliceblue;
    border-width: 1px;
    border-radius: 7px;
  }
  overflow{
    position: relative;
    display: block;
  }
  scrollCover {
      display: inline-block;
      position: absolute;
      height: 100%;
      background-color: white;
      width: 20px;
      top: 0;
      right: 0;
  }
  day, .padder {
    color: var(--highlight1);
      display: inline-table;
      width: 348px;
      white-space: normal;
      border: solid var(--highlight1) 1px;
      margin-right: 49px;
      max-width: 81vw;
  }
  .padder {
    border:none;
  }
  topControls {
      position: fixed;
      left: 2vw;
      top: 8vh;
      white-space: nowrap;
      width: 91vw;
      height: 88px;
      padding: 1vw;
      border: var(--highlight1) 4px solid;
      border-radius: 12px;
      overflow-x: scroll;
      z-index: 0;
  }
  cssScrollBar {
      position: fixed;
      left: calc(2vw + 5px);
      top: calc(10vh + 41px);
      width: 91vw;
      height: 0.5vh;
      display: block;
      background: var(--highlight2);
  }
  cssScrollBar bar {
      position: relative;
      height: 0.8vh;
      display: block;
      border-radius: 10px;
      background: var(--highlight1);
  }
  bottomControls {
      position: fixed;
      bottom: -1px;
      background: var(--navy);
      display: flex;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      left: -1px;
      height: 49px;
      justify-content: space-around;
  }
  bottomControls  div {
    background-size: contain;
    background-repeat: no-repeat;
    width: 13vw;
    height: 5vh;
    border: none;
  }
  bottomControls div img {
      height: 90%;
      width: 115%;
      display: block;
      position: relative;
      top: -112%;
  }
  #btnScrollRight img {
    left: -10%;
    position: relative;
}
  #dayName {
    width: 66px;
    text-align: center;
}
  checkbox {
    display: inline-block;
    /* border: solid black 1px; */
    height: 10px;
    width:10px;
  }
  .hidden {
    visibility: hidden;
    height:0;
    width:0;
    padding: 0;
    margin: 0;
  }
  .selected{
    /* background-color: green; */
  }
  .groupHighlight {
    border-radius: 102px;
    max-width: 110%;
    border-left: black solid 7px;
    border-bottom: black solid 1px;
  }
  settingscntnr {
    overflow-y: scroll;
    height: 80%;
}
.modal-small {
    height: 68vh;
    width: 90vw;
    position: fixed !important;
    top: 4vh;
    left: 5vw;
    z-index: 1;
    border: solid black 2px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
  btns {
      display: flex;
      width: 24vw;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;
  }
  modal example{
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    top: 20px;
  }
  modal btns *, modal close {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 5vh;
}
opts input {
    display: inline;
}
opts * {
    display: block;
}
#btnAddCat ok, li ok, #btnAddCat cancel, li cancel{
  display: inline;
  font-size:inherit;
  position: inherit;
  padding: 0;
  margin: 0;
  z-index: 10 !important;
}
modal ul {
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 5vh - 35px);
  position: relative;
  top: 0;
}
span#dayName {
  font-size: 12px;
  color: var(--highlight1);
}
  modal close {
    display: block;
    position: absolute;
    bottom: 10px;
  }
  dayView container {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: #f7f1f1;
  }
  btnListView {
    z-index: 3;
    background: #cfb5b5;
    position: relative;
    display: block;
    width: 1em;
    height: auto;
    border-radius: 5px;
    word-break: break-all;
    letter-spacing: 1em;
    top:20vh;
    padding-left: .3em;
  }
 containerTitle {
  display:block;
  height: 40px;
  width: auto;
  position: absolute;
  left:10vw;
  top:5vh;
 }
scheduleName {
 display:block;
 height: 40px;
 top:calc(5vh + 40px);
 left:10vw;
 position:absolute;
 width: auto;
 z-index:1;
 line-height: 3vh;
}
 hourGroups {
  display:block;
  height:auto;
  width:90vw;
  left:5vw;
  top:calc(10vh + 40px);
  position:absolute;
  border-radius: 10px;
  background-color:lightyellow;
 }
 btnEdit {
  position: absolute;
  right:calc(5vw + 7px);
  top:5vw;
  display:block;
  width:auto;
  max-width:10vw;
  text-align: right;
  font-size: 12px;
 }
 .small-text {
   font-size: .6em;
 }
 .hideleft {
   animation: hideleft .7s 1;
   right: calc(-100% + 1.3em);
 }
 .centerfright {
   animation: centerfright .7s 1;
   right: 0;
 }
 .selectedTab {
    border:  none !important;
}
.listContainer h6 {
    background: lightblue;
    margin-left: -20px;
    padding-left: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
}
.tabBtn {
    width: calc(50vw - 11px - 2vh);
    height: 25px;
    border: solid 1px;
    display: inline-block;
    text-align: center;
    padding: 40px 1vh 1vh 1vh;
    z-index: 2;
    position: relative;
    background: white;
    top: -32px;
}
blips {
position: fixed;
z-index: 3;
top: 117px;
display: block !important;
width: calc(100vw - 40px);
height: 24px !important;
left: 30px;
text-align: center;
line-height: 24px;
visibility: visible !important;
}
blips update {
  display: block;
  width:80vw;
}
#writingGoalToggle {
    user-select: none;
    position: relative;
    text-align: left;
    width: 82vw;
    cursor: pointer;
    background: lightgray;
}
#textArea.showfromtop {
    animation: showfromtop .5s 1 !important;
    /* top:auto; */
    bottom: 0;
}
/* .showfromtop #writingGoalToggle {
    top: auto;
    bottom: -7px !important;
    height: 62px !important;
} */
.showfromtop #touchActiveBtn{
  bottom: 11px;
}
#textArea.hideup {
  bottom: 100vh ;
  animation: hideup .5s 1 !important;
}
#textArea {
    position: fixed;
    background-color: grey;
    height: auto;
    width: 100vw;
    left: 0;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 3;
    bottom: -100%;
}
.listContainer li {
    padding-left: 25px;
}
#txtinTask {
    position: relative;
}
#textAreaChore span {
    width: 17vw;
    line-height: 3vh;
}
#textAreaChore input {
    width: 45vw;
    height: 3vh;
}
#textAreaChore {
    display: flex;
    max-width: 75vw;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}
#touchActiveBtn {
  position: fixed;
  background-color: #bf8991;
  z-index: 4;
  bottom: 10px;
  display: block !important;
  width: 90vw !important;
  height: 4vh;
  right: 5vw;
  border-radius: 10px;
  text-align: center;
  line-height: 4vh;
  visibility: visible !important;
}
#touchActiveBtn.backbtn{
  top: 20vh;
  width: 10vw !important;
  left: 2vw;
}
  authpage {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 4;
  }
  loadingcuz {
    position: relative;
    z-index: 5;
}
  container.auth {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: lavender;
    z-index: 5;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
container.auth input {
  font-size: 20px;
  width: 50vw;
  margin: 0px 25vw 24px 25vw;
}
.tabBtn_Tasks_screen {
  display: flex;
}
choresbody > option {
    height: 30px;
    width: 25vw;
}
data .chore_item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 95vw;
    left: 0;
    align-content: center;
    justify-content: space-between;
}
choresbody {
    z-index: -1;
    background-color: #746F72;
    display: flex;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 108px;
    justify-content: center;
}
.listContainer {
    width: 30vw;
    height: auto;
    flex-wrap: wrap;
    margin: 10px;
}
authpage {
    position: absolute;
    left: 0;
    top: 0;
}
 @keyframes hideleft {
   0% {
       right: 0;
   }
   100% {
       right: calc(-100% + 1.3em);
   }
 }
 @keyframes centerfright {
   0% {
       right: -100%;
   }
   100% {
       right: 0;
   }
 }
 @keyframes hideup {
   0%{
     bottom:0;
   }
   100%{
    bottom: 100vh;
   }
 }
 @keyframes showfromtop{
   0%{
     bottom:100vh;
   }
   100%{
     bottom:0;
   }
 }

 @media only screen and (max-width: 600px) {
   .tabBtn_Tasks_screen {
       display: flex;
       position: absolute;
       left: 0;
       flex-direction: column;
       height: 70vh;
       width: 100vw;
       overflow-y: scroll;
       overflow-x: visible;
   }
   .listContainer {
       width: 100vw;
       height: auto;
       flex-wrap: wrap;
       margin: 0;
   }
 }
