html,lists {
    display: block;
    position: fixed;
    top: 10vh;
    left: 0;
    width: 105vw;
    height: 85vh;
}
lists {
  overflow-y: scroll;
}
currentScreen {
    z-index: 3;
    top: calc(10vh - 20px);
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
active ul {
    width: calc(46vw - 24px);
}
active, completed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    width: 99vw;
    justify-content: space-evenly;
    align-items: flex-start;
}
active ul, completed ul {
    width: calc(46vw - 24px);
    border-radius: 12px;
    line-height: 4vh;
    padding-top: 7px;
    background-color: var(--highlight2);
}
completed ul {
  width: calc(46vw - 24px);
}
active ul li, completed ul li {
list-style: none;
}
.working {
  color:red;
}
.checkbox {
  display: inline-block;
  /* border: solid black 1px; */
  height: 16px;
  width: 12px;
  margin-right:5px;
}
.checkbox.selected {
  height: 18px;
  width: 15px;
}
