
li {
  margin-left:20px;
}
changesched {
    font-size: 1.5vh;
}
.modal-small {
    height: 68vh;
    width: calc(90vw - 20px);
    position: fixed !important;
    top: 4vh;
    left: 5vw;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    z-index: 20;
    padding-left: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
}
calModal {
    height: 35vh;
    width: 90vw;
    background-color: var(--modalColor);
    position: absolute;
    top: 20px;
    z-index: 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
group {
  position: relative;
  display: block;
}
group bgcover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cover1);
  opacity: .5;
  display: block;
  z-index: 10;
}
group.active bgcover{
  background: none;
}
group.active {
    padding: 10px;
    font-size: 1.3em;
    border: solid var(--highlight1) 3px;
    width: 92vw;
    left: calc(4vw - 13px);
}
group.future {
    padding: 7px;
    font-size: .9em;
    color: #1a8b9b;
    border: solid lightblue 1px;
    border-top: 0px;
    width: 92vw;
    left: calc(4vw - 8px);
}
group.past {
    color: grey;
    padding: 5px;
    font-size: 0.8em;
    border: solid #eeeeee 1px;
    border-bottom: 0px;
    width: 92vw;
    left: calc(4vw - 6px);
}
group.past li, group.future li {
    visibility: hidden;
    height: 0;
}
group title, group location {
  display: block;
}
liveEventsBtn {
    position: fixed;
    background: var(--highlight1);
    /* width: 16vw; */
    height: 24px;
    border-radius: 7px;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 3px;
}
schedname {
    position: relative;
    display: inline-block;
    left: 0;
    width: 97vw;
    text-align: right;
    height: auto;
    font-size: 2.5vh;
    border-bottom:1px #abcdad solid;
}
schedName em {
    font-family: coquette;
    font-size: 4vh;
}
date {
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    margin: 5px;
}
currentScreen {
    padding: 0;
    z-index: 3;
    top: calc(10vh - 20px);
    display: block;
    width: 100vw;
    left: 0;
    position: fixed;
}
todayscreen {
    width: calc(100% + 28px);
    display: block;
    overflow-y: scroll;
    margin-left: 10px;
    height: 100vh;
}
